<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <meta charset="UTF-8">
    <title>Wybory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
            ['Województwo'],
            {% for x in _wojewodztwa %}
            ['{{x}}'],
            {% endfor %}
        ]);

        var links = {
            {% for x in _wojewodztwa %}
            '{{x}}': 'woj{{x}}.html',
            {% endfor %}
        };

        var options = {region: "PL", resolution: "provinces", legend: 'none',
          defaultColor: '#4b2d73'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        google.visualization.events.addListener(chart, 'select', function() {
            var sel = chart.getSelection();
            if (sel.length > 0) {
                var country = data.getValue(sel[0].row, 0);
                var link = links[country];
                if (link) {
                    window.location.href = link;
                }
            }
        });

        chart.draw(data, options);
      }
    </script>
    <script language="JavaScript">
    $(document).ready(function() {
       var chart = {
          type: 'bar'
       };
       var title = {
          text: 'Województwo {{ _wojewodztwo['wojewodztwo'] }} - wyniki wyborów'
       };
       var subtitle = {
          text: ''
       };
       var xAxis = {
          categories: [
              {% for x in _kandydaci %}
            '{{x}}',
            {% endfor %}
          ],
          title: {
             text: null
          }
       };
       var yAxis = {
          min: 0,
          title: {
             text: 'Procent oddanych glosow (%)',
             align: 'high'
          },
          labels: {
             overflow: 'justify'
          }
       };
       var tooltip = {
          valueSuffix: ' %'
       };
       var plotOptions = {
          bar: {
             dataLabels: {
                enabled: true
             }
          }
       };
       var legend = {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -40,
          y: 100,
          floating: true,
          borderWidth: 1,
          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
          shadow: true
       };
       var credits = {
          enabled: false
       };

       var series= [{
                name: ' ',
                data: [ {% for x in _kandydaci %}
            {{_kandydaci[x]}},
            {% endfor %}]
            }
       ];

       var json = {};
       json.chart = chart;
       json.title = title;
       json.subtitle = subtitle;
       json.tooltip = tooltip;
       json.xAxis = xAxis;
       json.yAxis = yAxis;
       json.series = series;
       json.plotOptions = plotOptions;
      // json.legend = legend;
       json.credits = credits;
       $('#container').highcharts(json);

    });
    </script>
</head>
<body>
    <a href="index.html">
	<header>
	    <h1>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</h1>
	</header>
    </a>

    <div class="flex-container">
        <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
        <div id="regions_div"></div>
    </div>

<div >
        <table>
            <tr>
                <th>Statystyki</th>
                <th>Ilość</th>
            </tr>
            <tr>
                <td>Karty wydane</td>
                <td>{{ _wojewodztwo['karty_wydane']}}</td>
            </tr>
            <tr>
                <td>Uprawnieni</td>
                <td>{{ _wojewodztwo['uprawnieni'] }}</td>
            </tr>
            <tr>
                <td>Głosy oddane</td>
                <td>{{ _wojewodztwo['glosy_oddane'] }}</td>
            </tr>
            <tr>
                <td>Głosy ważne</td>
                <td>{{ _wojewodztwo['glosy_wazne'] }}</td>
            </tr>
            <tr>
                <td>Głosy nieważne</td>
                <td>{{ _wojewodztwo['glosy_niewazne'] }}</td>
            </tr>
            <tr>
                <td>Obwodów</td>
                <td>{{ _wojewodztwo['obwody'] }}</td>
            </tr>
             {% for x in _kandydaci %}
                 <tr>
                    <td>{{ x }}</td>
                    <td>{{ _wojewodztwo['kandydaci'][x] }}</td>
                 </tr>
             {% endfor %}

        </table>

    </div>

    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Okreg</th>
          <th>Głosy oddane</th>
          <th>Głosy ważne</th>

            {% for x in _kandydaci %}
                <th>{{x}}</th>
            {% endfor %}
        </tr>

        {% for key in _wojewodztwo['listaOkregow'] %}
            <tr onclick="document.location = 'okr{{ key }}.html'">
                <td>{{ key }}</td>
                <td>{{ _okregi[key]['glosy_oddane'] }}</td>
                <td>{{ _okregi[key]['glosy_wazne'] }}</td>
                {% for x in _kandydaci %}
                    <td>{{ _okregi[key]['kandydaci'][x] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
      </table>
    </div>
    <footer> Autor: Piotr Bąk (pb370714) </footer>
</body>
</html>