header, footer {
        padding: 1px;
        color: white;
        background-color: #4b2d73;
        clear: left;
        text-align: center;
}

.flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4b2d73;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover{
    background-color:#4b2d73;
    color: white;
    cursor: pointer;
}
